body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    color: gray;
}

.biography h1 {
    font-size: 40px;
    font-weight: 500;
}

.heading-section {
    background-image: url("image/header-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    height: 500px;
    padding-bottom: 150px;
}

.heading-section .hello {
    font-size: 40px;
}

.headnigtext {
    color: #ED4B72;
    font-size: 50px;
}

.buuton_link {
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
    background-color: #ED4B72;
}

.half-width {
    float: left;
    width: 40%;
    margin-left: 7%;
    margin-top: 3%;
}

.half-width img {
    width: 100%;
}

.biography {
    background-image: url("image/biography-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
}

.latest-work {
    background-image: url("image/latest-work-bg.png");
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px;
}

.latest-work h2 {
    text-align: center;
    font-weight: 600;
}

.working-list {
    float: left;
    width: 29%;
    margin-left: 2%;
    margin-right: 2%;
}

.working-list img {
    width: 100%;
}

.client_comment {
    background-image: url("image/footer-bg.png");
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.client_comment a {
    text-decoration: none;
    background-color: #EC4B75;
    padding: 20px 100px;
    color: white;
}

footer p {
    text-align: center;
}